<%- include('../../compartido/cabecera') %>

<div class="container">

    <% if(datos.error){ %>
    <div class="alert alert-danger" role="alert"><%=datos.error%></div>
    <% } %>

    <form action="/producto/<%=datos.producto?datos.producto.id:""%>"
          method="POST"
    >

        <div class="form-group">
            <label for="nombreID">Nombre del Producto</label>
            <input id="nombreID"
                   type="text"
                   name="nombre"
                   placeholder="Ej: libro"
                   title="Ingresar nombre de producto"
                   value="<%=datos.producto?datos.producto.nombre:""%>"
                   class="form-control">
            <small id="nombreIDHelp"
                   class="form-text text-muted">
                Ingresa un nombre mayor a 3 caracteres y menor a 50
            </small>
        </div>

        <div class="form-group">
            <label for="descripcionID">Descripcion</label>
            <input id="descripcionID"
                   type="text"
                   name="descripcion"
                   placeholder="Ej: Esta casi nuevo"
                   title="Ingresar descripcion del producto"
                   value="<%=datos.producto?datos.producto.descripcion:""%>"
                   class="form-control">
            <small id="apellidoIDHelp"
                   class="form-text text-muted">
                Ingresa una descrpcion mayor a 3 caracteres y menor a 10
            </small>
        </div>

        <div class="form-group">
            <label for="costoID">Costo</label>
            <input id="costoID"
                   step="any"
                   type="number"
                   name="costo"
                   placeholder="Ej: 16,5"
                   value="<%=datos.producto!=undefined?datos.producto.costo:""%>"
                   title="Ingresar costo del producto"
                   class="form-control">
            <small id="costoIDHelp"
                   class="form-text text-muted">
                Ingrese costo del producto
            </small>
        </div>

        <button type="submit"
                class="btn btn-success">
           <%=datos.producto?"Editar Producto":"Crear producto"%>
        </button>

        <%if(!datos.producto){%>
        <button type="reset"
                class="btn btn-secondary">
            Limpiar formulario
        </button>
        <%}%>

    </form>


</div>
<%- include('../../compartido/pie-de-pagina') %>
