<table class="table"> <!-- table -->
    <thead> <!-- thead -->
    <tr> <!-- table row -->
        <th scope="col"> <!-- table header -->
            ID
        </th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>

    <%if (rol){%>
    <tbody>
    <% rol.forEach( (rol) => {%>
        <tr> <!-- table row -->
            <th scope="row">
                <%= rol.id%>
            </th> <!-- table header -->
            <td>
                <%= rol.nombre%>
            </td> <!-- table detail -->
            <td>
                <%= rol.descripcion%>
            </td> <!-- table detail -->
            <td>
                <a href="rol/<%= rol.id %>">
                    <button type="button"
                            class="btn btn-info">
                        Editar
                    </button>
                </a>
            </td> <!-- table detail -->
            <td>
                <form action="/rol/eliminar/<%= rol.id %>"
                      method="post"
                >
                    <button type="submit"
                            class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </td> <!-- table detail -->
        </tr>
    <%}); %>
    </tbody> <!-- tbody -->
    <%}%>
</table>
