
<table class="table"> <!-- table -->
    <thead> <!-- thead -->
    <tr> <!-- table row -->
        <th scope="col"> <!-- table header -->
            ID
        </th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>

    <%if (productos){%>
        <tbody>
        <% productos.forEach( (producto) => {%>
            <tr> <!-- table row -->
                <th scope="row">
                    <%= producto.id%>
                </th> <!-- table header -->
                <td>
                    <%= producto.nombre%>
                </td> <!-- table detail -->
                <td>
                    <%= producto.descripcion%>
                </td> <!-- table detail -->
                <td>
                    <%= producto.costo%>
                </td> <!-- table detail -->
                <td>
                    <form action="/det-carrito?idproducto=<%= producto.id %>"
                          method="post"
                    >
                        <button type="submit"
                                class="btn btn-success">
                            Comprar
                        </button>
                    </form>
                </td> <!-- table detail -->
                <td>
                    <a href="producto/<%= producto.id %>">
                        <button type="button"
                                class="btn btn-info">
                            Editar
                        </button>
                    </a>
                </td> <!-- table detail -->
                <td>
                    <form action="/producto/eliminar/<%= producto.id %>"
                          method="get"
                    >
                        <button type="submit"
                                class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </td> <!-- table detail -->
            </tr>
        <%}); %>
        </tbody> <!-- tbody -->
    <%}%>
</table>
